{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Добавить товар для участника тендера {{ participant.provider.name }}</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ tender.id }}" name="tender" id="tender">
            <div class="tenders-new__select input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="product">Товар</label>
                </div>
                <select size="10" class="custom-select" name="product" id="product">
                    {% for product in products %}
                        <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
            <a href="/tender/{{ tender.id }}/" class="tenders-new__button btn btn-dark">Отмена</a>
        </form>
    </div>
</div>