{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Новая Организация</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Название</label>
            <input required type="text" class="tenders-new__input form-control" name="name" id="name">
            <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
            <a href="/tender/organizations/" class="tenders-new__button btn btn-dark">Отмена</a>
        </form>
    </div>
</div>