{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Добавить участника для тендера - {{ tender.name }}</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="tenders-new__select input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="provider">Поставщик</label>
                </div>
                <select size="10" class="custom-select js-select2" name="provider" id="provider">
                    {% for provider in providers %}
                        <option value="{{ provider.id }}">{{ provider.name }}{% if provider.contact %} - {{ provider.contact }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="tender" id="tender" value="{{ tender.id }}">
            <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
            <a href="/tender/{{ tender.id }}/" class="tenders-new__button btn btn-dark">Отмена</a>
        </form>
    </div>
</div>