{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-dashboard__title">{{ participant.provider.name }}</h1>
        <a href="edit/" class="btn btn-warning tenders-dashboard__new-tender">Изменить</a>
        <a href="#" class="open-modal_modal btn btn-danger tenders-dashboard__new-tender" data-modal_modal="#del_part_{{ participant.id }}">Удалить</a>
        <a href="/tender/{{ tender.id }}/" class="btn btn-dark tenders-dashboard__new-tender">Назад</a>
        <div class="row">
            <div class="col-12">
                <h5 class="d-inline-block">Список товаров:</h5>
                <a href="goods_add/" class="btn btn-success tenders-dashboard__new-tender">Добавить</a>
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col" class="tenders-dashboard__buttoncell">Изменить</th>
                        <th scope="col" class="tenders-dashboard__buttoncell">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if goods %}
                        {% for g in goods %}
                            <tr>
                                <td class="my-incidents__cell">{% if g.product %}{{ g.product.name }}{% else %}Товар не указан{% endif %}</td>
                                <td class="my-incidents__cell">{% if g.price %}{{ g.price }}{% else %}Не указано{% endif %}</td>
                                <td><a href="{{ tender.id }}/edit/" class="btn btn-warning">Изменить</a></td>
                                <td><a href="#" class="open-modal_modal btn btn-danger" data-modal_modal="#del_{{ g.id }}">Удалить</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">Нет данных</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% for g in goods %}
    <div class='modal_modal' id='del_{{ g.id }}'>
        <div class='content'>
            <h1>Подтвердите действие</h1>
            <a class='btn btn-danger' data-modal_modal="#tender-delete" href="{{ g.id }}/delete/">Подвердить</a>
            <a class='close-modal_modal btn btn-dark' data-modal_modal="#del_{{ g.id }}" href="#">Отмена</a>
        </div>
    </div>
{% endfor %}
<div class='modal_modal' id='del_part_{{ participant.id }}'>
        <div class='content'>
            <h1>Подтвердите действие</h1>
            <a class='btn btn-danger' data-modal_modal="#tender-delete" href="delete/">Подвердить</a>
            <a class='close-modal_modal btn btn-dark' data-modal_modal="#del_part_{{ participant.id }}" href="#">Отмена</a>
        </div>
</div>