{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Новый Товар</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Название</label>
            <input type="text" class="tenders-new__input form-control" name="name" id="name">
            <div class="tenders-new__select input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="measure">Единица измерения</label>
                </div>
                <select class="custom-select" name="measure" id="measure">
                    {% for measure in measures %}
                        <option value="{{ measure.id }}">{{ measure.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="description">Описание</label>
            <textarea class="tenders-new__textarea form-control" name="description" id="description" cols="30" rows="10"></textarea>
            <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
            <a href="/tender/products" class="tenders-new__button btn btn-dark">Отмена</a>
        </form>
    </div>
</div>