{% load static %}
<div class="col-xl-9 block__wrapper tenders-dashboard">
    <div class="block tenders-dashboard__wrapper">
        <h1 class="tenders-dashboard__title">Мои товары: {{ products.count }}</h1>
        <a href="add" class="btn btn-success tenders-dashboard__new-tender">Добавить</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Категория</th>
                <th scope="col">Единица измерения</th>
                <th scope="col">Описание</th>
                <th scope="col" class="tenders-dashboard__buttoncell">Изменить</th>
                <th scope="col" class="tenders-dashboard__buttoncell">Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% if products %}
                {% for product in products %}
                    <tr>
                        <td class="my-incidents__cell">{{ product.name }}</td>
                        {% if product.category %}
                            <td class="my-incidents__cell">{{ product.category.name }}</td>
                        {% else %}
                            <td class="my-incidents__cell">Без категории</td>
                        {% endif %}
                        {% if product.measure %}
                            <td class="my-incidents__cell">{{ product.measure.name }}</td>
                        {% else %}
                            <td class="my-incidents__cell">Нет</td>
                        {% endif %}
                        {% if product.description %}
                            <td class="my-incidents__cell">{{ product.description }}</td>
                        {% else %}
                            <td class="my-incidents__cell">Нет описания</td>
                        {% endif %}
                        <td><a href="{{ product.id }}/edit" class="btn btn-warning">Изменить</a></td>
                        <td><a href="#" class="open-modal_modal btn btn-danger" data-modal_modal="#del_{{ product.id }}">Удалить</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Нет данных</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% for product in products %}
    <div class='modal_modal' id='del_{{ product.id }}'>
        <div class='content'>
            <h1>Подтвердите действие</h1>
            <a class='btn btn-danger' data-modal_modal="#tender-delete" href="/tender/products/{{ product.id }}/delete/">Подвердить</a>
            <a class='close-modal_modal btn btn-dark' data-modal_modal="#del_{{ product.id }}" href="#">Отмена</a>
        </div>
    </div>
{% endfor %}
