{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Указать победителей тендера</h1>
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    {% for price in prices %}
                        <div>
                            <label for="winner_{{ price.id }}">{{ price.goods.product.name }}. Цена {{ price.price }}</label>
                            <input class="winner__radio_{{ price.id }}" type="radio" name="winner_{{ price.goods.product.id }}" value="winner_{{ price.id }}" id="winner_{{ price.id }}">
                            <label class="d-block" for="quantity_{{ price.id }}">Количество</label>
                            <input class="winner__number form-control mb-4" type="number" name="quantity_{{ price.id }}" id="quantity_{{ price.id }}" value="1" data-radio=".winner__radio_{{ price.id }}">
                        </div>
                    {% endfor %}

                    <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
                    <a href="/tender/{{ tender.id }}/" class="tenders-new__button btn btn-dark">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>