{% load static %}
<div class="col-xl-9 block__wrapper tenders-dashboard">
    <div class="block tenders-dashboard__wrapper">
        <h1 class="tenders-dashboard__title">{{ tender.name }}</h1>
        <a href="#" class="btn btn-warning tenders-dashboard__new-tender">Изменить</a>
        <a href="#" class="open-modal_modal btn btn-danger tenders-dashboard__new-tender" data-modal_modal="#tender-delete">Удалить</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование товара</th>
                {% for offer in offers %}
                    <th>{{ offer.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Нет данных</td>
                </tr>
            </tbody>
        </table>
        <a href="new_offer" class="btn btn-success">Добавить поставщика</a>
        <a href="#" class="btn btn-success">Добавить товар</a>
    </div>
</div>

<div class='modal_modal' id='tender-delete'>
        <div class='content'>
            <h1>Подтвердите действие</h1>
            <a class='btn btn-danger' data-modal_modal="#tender-delete" href="delete/">Подвердить</a>
            <a class='close-modal_modal btn btn-dark' data-modal_modal="#tender-delete" href="#">Отмена</a>

        </div>
    </div>