{% load static %}
<div class="col-xl-9 block__wrapper tenders-dashboard">
    <div class="block tenders-dashboard__wrapper">
        <h1 class="tenders-dashboard__title">Мои Тендеры: {{ tenders.count }}</h1>
        {% if request.user.id != 13 %}
            <a href="/tender/add/" class="btn btn-success tenders-dashboard__new-tender">Добавить</a>
        {% endif %}
        <table class="table table-striped" id="datatable">
            <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата</th>
                <th scope="col">Название</th>
                <th scope="col">Организация</th>
                <th scope="col">Кем создан</th>
                {% if request.user.id != 13 %}
                    <th scope="col" class="tenders-dashboard__buttoncell">Изменить</th>
                    <th scope="col" class="tenders-dashboard__buttoncell">Удалить</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if tenders %}
                {% for tender in tenders %}
                    <tr>
                        <td class="my-incidents__cell">{% if tender.creator.id == 7 %}S_{{ tender.number }}{% elif tender.creator.id == 8 %}NO_{{ tender.number }}{% elif tender.creator.id == 9 %}M_{{ tender.number}}{% elif tender.creator.id == 10 %}Sh_{{ tender.number }}{% elif tender.creator.id == 11 %}O_{{ tender.number }}{% elif tender.creator.id == 12 %}Z_{{ tender.number }}{% endif %}</td>
                        <td class="my-incidents__cell">{{ tender.date|date:'d E Y' }}</td>
                        <td class="my-incidents__cell"><a href="/tender/{{ tender.id }}/">{{ tender.name }}</a></td>
                        <td class="my-incidents__cell">{{ tender.organization.name }}</td>
                        <td class="my-incidents__cell">{% if tender.creator %}{{ tender.creator.first_name }} {{ tender.creator.last_name }}{% else %}Не указано{% endif %}</td>
                        {% if request.user.id != 13 %}
                            <td>{% if request.user.id == tender.creator.id %}<a href="{{ tender.id }}/edit/" class="btn btn-warning">Изменить</a>{% endif %}</td>
                            <td>{% if request.user.id == tender.creator.id %}<a href="#" class="open-modal_modal btn btn-danger" data-modal_modal="#del_{{ tender.id }}">Удалить</a>{% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Нет данных</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% for tender in tenders %}
    <div class='modal_modal' id='del_{{ tender.id }}'>
        <div class='content'>
            <h1>Подтвердите действие</h1>
            <a class='btn btn-danger' href="{{ tender.id }}/delete">Подвердить</a>
            <a class='close-modal_modal btn btn-dark' data-modal_modal="#del_{{ tender.id }}" href="#">Отмена</a>
        </div>
    </div>
{% endfor %}