{% load static %}
<div class="col-xl-9 block__wrapper tenders-new">
    <div class="block tenders-new__wrapper">
        <h1 class="tenders-new__title">Изменить Тендер</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Название</label>
            <input type="text" class="tenders-new__input form-control" name="name" id="name" value="{{ tender.name }}">
            <div class="tenders-new__select input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="organization">Организация</label>
                </div>
                <select class="custom-select" name="organization" id="organization">
                    {% for organization in organizations %}
                        {% if tender.organization.id == organization.id %}
                            <option value="{{ organization.id }}" selected>{{ organization.name }}</option>
                        {% else %}
                            <option value="{{ organization.id }}">{{ organization.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label for="description">Описание</label>
            <textarea name="description" id="description" cols="30" rows="10" class=" form-control tenders-new__textarea">{% if tender.description %}{{ tender.description }}{% endif %}</textarea>
            <input type="hidden" name="creator" id="creator" value="{{ tender.creator.id }}">
            <input type="submit" class="tenders-new__button btn btn-success" value="Сохранить" id="add_product">
            <a href="/tender/" class="tenders-new__button btn btn-dark">Отмена</a>
        </form>
    </div>
</div>