{% load static %}
<div class="col-xl-9 block__wrapper tenders-dashboard">
    <div class="block tenders-dashboard__wrapper">
        <h1 class="tenders-dashboard__title">Мои тендеры: {{ tenders.count }}</h1>
        <a href="{% url 'new_tender' %}" class="btn btn-success tenders-dashboard__new-tender">Добавить</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Название</th>
            </tr>
            </thead>
            <tbody>
            {% if tenders %}
                {% for tender in tenders %}
                    <tr>
                        <td class="my-incidents__cell"><a href="{{ tender.id }}">{{ tender.name }}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Нет данных</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>